* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
}

html, body  {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}
.dark {
    background-color: #222;
    color: #fff;
}
.container-hd {
    max-width: 90%;
    margin: auto;
}
.social i {
    list-style: none;
}
a {
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    transition: 0.5s;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}
.head {
    height: 10vh;
    line-height: 10vh;
}
.head i {
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background: #f2f2f2;
    text-align: center;
    color: #11633d;
    line-height: 30px;
}
.head h4 {
    margin-top: 10px;
    font-family: 'pacifico', cursive;
}
header {
    background: #11633d;
    padding: 15px 0 15px 0;
    color: white;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: white;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header ul {
    padding: 0 20px 0 0;
  }
  
  header li {
    margin-right: 30px;
  }
  
  header ul li a {
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
  }
  
  header ul li a:hover {
    color: #000;
  }
  
  header .head_contact {
    position: relative;
    top: -10px
  }
  
  header .head_contact i {
    position: absolute;
    top: -29px;
    left: -70%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: white;
    color: #202020;
    border-radius: 50%;
    transform: rotate(-45deg);
    border: 5px solid #ECE3D2;
    font-size: 30px;
  }
  
  header .sticky_logo {
    display: none;
    font-family: 'pacifico',cursive;
  }
  
  header.sticky .sticky_logo {
    display: block;
    width: 150px;
    height: 50px;
    margin-top: 10px;
  }
  
  header.sticky {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background: #222222;
    transition: 0.5s;
    height: 15vh;
    top: 0;
    padding: 20px 0 0 0;
  }
  
  header.sticky ul li a {
    color: rgb(255, 255, 255);
  }
  @media screen and (max-width:414px) {
    .social {
        display: none;
    }
    .address {
        font-size: small;
    }
    .logo1 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  @media screen and (max-width:768px) {
  
    /*------------head------------*/
    .header .head_contact,
    .logo {
      display: none;
    }
  
    /*------------head------------*/
    header.sticky {
      height: 7vh;
    }
  
    header.sticky .nav-menu {
      background: #222222;
    }
    
    .navbar {
      height: 2vh;
      top: -40px;
      justify-content: space-between;
    }
  
    .nav-menu {
      position: fixed;
      left: -100%;
      top: 8.5rem;
      flex-direction: column;
      background: #11633d;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 10000;
    }
  
    header.sticky .nav-menu {
      top: 4rem;
    }
  
    header ul li a {
      color: white;
    }
  
    .nav-menu.active {
      left: 0;
    }
  
    header li {
      margin: 2rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
      margin-top: 27px;
    }
    header.sticky .hamburger {
      margin-bottom: 27px;
    }
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
/* navbar */
/* nav {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(44, 44, 44);
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    z-index: 100000;
    transition: 0.6s;
    color: #f7f7f7;
    }
    nav.sticky {
        padding: 5px 100px;
        background-color: rgb(0, 0, 0);
    }
    nav .logo {
        font-family: 'Pacifico', cursive;
        letter-spacing: 3px;
        font-size: larger;
    }
    
    nav ul {
        display: flex;
        list-style: none;
        width: 40%;
        justify-content: space-between;
    }
    
    nav ul li a {
        color: #f7f7f7;
        text-decoration: none;
        font-size: 1em
    }
    
    nav ul li a:hover {
        color: #838383;
    }
    
    .menu-toggle {
        display: none;
        flex-direction: column;
        height: 20px;
        justify-content: space-between;
        position: relative;
    }
    
    .menu-toggle input {
        position: absolute;
        width: 40px;
        height: 28px;
        left: -6px;
        top: -5px;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }
    
    .menu-toggle span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: #f7f7f7;
        border-radius: 3px;
        transition: all 0.5s;
    }
    
    /* nth-child adalah untuk menentukan dari anak berapakah itemnya*/
    /* .menu-toggle span:nth-child(2) {
        transform-origin: 0 0;
        }
        .menu-toggle input:checked ~ span:nth-child(2) {
            background-color: #01db5c;
            transform: rotate(45deg) translate(-1px, -1px);
        }
    
    .menu-toggle span:nth-child(4) {
        transform-origin: 0 100%;
        }
        .menu-toggle input:checked ~ span:nth-child(4) {
            background-color: rgb(0, 255, 255);
            transform: rotate(-45deg) translate(-1px, 0);
        }
    
        .menu-toggle input:checked ~ span:nth-child(3) {
            opacity: 0;
            transform:scale(0);
        }
    
    /* size tablet */
    /* @media screen and (min-width: 577px) {
        nav ul {
            width: 50%;
        }
    } */
    
    /* size mobile */
    /* @media screen and (max-width: 576px) {
        .menu-toggle {
            display: flex;
        }
        nav ul {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100vh;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            background-color: rgb(44, 44, 44);
            z-index: -1;
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
            font-size: 1.5rem;
        }
    
        nav ul.slide {
            transform: translateX(0);
            opacity: 1;
        }
    }  */ 
/* navbar end */

/* darkMode start */
.switch-holder {
    display: flex;
    width: 19%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, .1),
    10px 10px 10px rgba(0, 0, 0, .2),
    inset 8px 8px 15px rgba(255, 255, 255, .1),
    inset 10px 10px 10px rgba(0, 0, 0, .2);
    justify-content: space-between;
    align-items: center;
  }
  
  .switch-label {
    padding: 0 20px 0 10px
  }
  
  .switch-label i {
    margin-right: 5px;
  }
  
  .switch-toggle {
    height: 40px;
  }
  
  .switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -2;
  }
  
  .switch-toggle input[type="checkbox"]+label {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin: 0;
    cursor: pointer;
    box-shadow: inset -8px -8px 15px rgba(255, 255, 255, .1),
          inset 10px 10px 10px rgba(0, 0, 0, .25);
  }
  
  .switch-toggle input[type="checkbox"]+label::before {
    position: absolute;
    content: 'OFF';
    font-size: 13px;
    text-align: center;
    line-height: 25px;
    top: 8px;
    left: 8px;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
          3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
  }
  
  .switch-toggle input[type="checkbox"]:checked+label::before {
    left: 50%;
    content: 'ON';
    color: #fff;
    background-color: #00b33c;
    box-shadow: -3px -3px 5px rgba(255, 255, 255, .5),
          3px 3px 5px #00b33c;
  }
  @media screen and (max-width: 991px) {
    .switch-holder {
        width: 40%;
    }
  }
  @media screen and (max-width: 576px) {
    .switch-holder {
        width: 50%;
    }
  }
/* darkmode end */

/* content 1 start*/
/* booking */
.flex{
    display: flex;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap:20px;
}
.book {
    position: absolute;
    margin-top:-15%;
    width: 90%;
    height: 20vh;
    color: white;
}
.book label {
    position: absolute;
    color: rgb(255, 255, 255);
}
.book.input {
    padding: 20px 20px 40px 20px;
}
.book input {
    display: flex;
    padding: 15px;
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    background: #292929;
    margin-top:30px;
    color: white;
}
.box ::placeholder {
    color: white;
}
.book .check-av input {
    background: #198754;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
}
.book .check-av input:hover {
    background: rgb(36, 112, 36);
    transition: all .3s ease-in;
}
@media screen and (max-width: 768px) {
    .book {
        position: relative;
        width: auto;
        height: auto;
        margin-top: 0px;
        
        background-color: #212121;
    }
    .book .container {
        flex-direction: column;
    }
    .book .check-av {
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(1,1fr);
    }
}
/* booking end */

.carousel-caption h1{
   
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 30%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size:4rem;
    font-family:inherit;
    font-weight: 600;
}
.carousel-caption p {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    margin-bottom: 40%;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    font-size:1.3rem;
    font-family:'Pacifico', cursive;
}
.carousel-control-prev,
.carousel-control-next {
    margin: -80px;
}
@media screen and (max-width: 768px) {
    .carousel-caption {
        margin-bottom: 20%;
    }
    .carousel-caption p {
        margin-bottom: 75%;
    }
    .carousel-caption h1 {
        font-weight: 300;
        font-size: 50px;
    }
    .carousel-control-prev,
.carousel-control-next {
    display: none;
}
}
/* content 1end */

/* content about start */

.left, .right {
    width: 50%;
    padding:30px;
}
.right img {
    height: 80vh;
    width: 100%
}
.top {
    margin-top: 80px;
}
.mtop {
    margin-top: 40px;
}
.heading h1{
font-size: 100px;
font-weight: 500;
opacity: 0.1;
font-family: inherit;
position: absolute;
}
.heading h2{
    margin: 30px 0;
    font-size: 45px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    }
.about .heading h1 {
    top: 55px;
}
.about {
    position: relative;
}
.about .left {
    margin-top: 30px;
}
.about p{
    font-size: 15px;
}
.about a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #198754;
    color: #fff;
    border-radius: 10px;
    font-size: 300;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.about a:hover {
    background-color: #292929;
    color: #fff;
    transition: all .3s ease-out;
}
@media  screen and (max-width: 768px) {
    .top {
        margin-top: -25px;
    }
    .container-ab.flex{
        flex-direction: column;
    }
    .left, .right {
        width: 100%;
    }
    .heading h1{
        font-size: 30px;
    }
    .about p {
        text-align: justify;
        letter-spacing: 1px;
    }
    .right img {
        height: 50vh;
        width: 100%;
        margin-top: -50px
    }
}
/* content about end */

/* rooms start */
:root {
    --primary: #ffce00;
    --secondary:#fe4880;
    --dark:#161616;
    --light:#f3f3f3;
    --green:#198754;
}
  .row h1 {
    font-size: 60px;
    font-weight: 700;
    font-family:'Crimson Text', serif;
  }
  .row h1::after {
    content: '';
    display: flex;
    width:300px;
    height: 3px;
    background: linear-gradient(to right, #36f436, #1bd3f3);
    position: relative;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50% );
  }
  .card {
    margin: 50px auto 0;
    width: 400px;
    height: 600px;
    perspective: 1000px;
  }
  
  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
  }
  
  .card__inner:hover{
    transform: rotateY(180deg);
  }
  .card__face {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
  }
  
  .card__face--front {
    position: absolute;
    background-image: linear-gradient(to bottom right, var(--green), var(--dark));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--front h2 {
    color: #FFF;
    font-size: 35px;
    font-family: 'Crimson Text', serif;
  }
  
  .card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  
  .card__content {
    width: 100%;
    height: 100%;
  }
  
  .card__header {
    position: relative;
    padding: 30px 30px 40px;
  }
  
  .card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom left, var(--green) 20%, var(--dark) 95%);
    z-index: -1;
    border-radius: 0px 0px 20% 0px;
  }
  
  .ps {
    display: block;
    margin: 0 auto 30px;
    border-radius: 10%;
    background-color: #FFF;
    border:4px solid rgb(255, 244, 244);
    object-fit: cover;
    height: 50%;
  }
  
  .card__header h2 {
    color: #FFF;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Crimson Text', serif;
    text-align: center;
  }
  
  .card__body {
    padding: 10px;
    gap: 20px;
    
  }
  .text-body-room {
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
  }
  .text-body-room h3 {
    margin-bottom: 5px;
  }
  
  .card__body p {
    color: var(--dark);
    font-size: 18px;
    line-height: 1.4;
  }
 .card__body {
    display: flex;
  }
  .list-unstyled, .list-unstyled ul {
    min-width: 120px;
    color: #5e5e5e;
  }
 .list-unstyled {
    padding-left: 0;
  }
#button-rooms {
background-color: #198754;
color: #fff;
cursor: pointer;
}
#button-rooms:hover {
    background-color: #11633d;
    color: #fff;
    transition: all .3s ease-in-out;
}
/* content rooms end */

/* galery start */
.galery .item {
    position: relative;
    cursor: pointer;
}
.galery .overlay i{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1;
    opacity: 1;
    color: #fff;
}
.galery .overlay{
    position: absolute;
    display: flex;
    content: '';
    background: rgba(1, 10, 2, 0.73);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 100px;
    align-items: center;
    justify-content: center;
}
.galery .item:hover .overlay,
.galery .item:hover i {
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}
.item img {
    width: 50px;
    height: 350px;
}
.galery .title-galery{
    margin-bottom: 40px;
}
.title-galery h1{
    font-size: 60px;
    font-weight: 700;
    font-family:'Crimson Text', serif;
}
.title-galery h1::after {
    content: '';
    display: flex;
    width:250px;
    height: 3px;
    background: linear-gradient(to right, #36f436, #1bd3f3);
    position: relative;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50% );
}

/* galery end */

/* contact us start */
.contactUs {
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactUs .title {
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
}
.contactUs .title h2 {
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    font-size: 3rem;
    font-family: fantasy;
    font-weight: 700;
}
.form {
    grid-area: form;
}
.info {
    grid-area: info;
}
.map {
    grid-area: map;
}
.contact {
    padding: 40px;
    background-color: #1f1f1f;
    box-shadow: 0 5px 35px rgb(0, 0, 0,.5);
}
.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
        "form info"
        "form map";
    grid-gap: 20px;
}
.contact h3{
color: #ffffff;
font-weight: 500;
font-size: 1.4em;
margin-bottom: 10px;
}
/* form */
.formBox {
    position: relative;
    width: 100%;
}
.formBox .row50 {
    display: flex;
    gap: 20px;
}
.inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox {
    width: 100%;
}
.inputBox span {
    color: #ffffff;
}
.inputBox .input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid rgb(2, 0, 0);
}
.inputBox textarea {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid whitesmoke;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"] {
    background: #198754;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    transition: all .3s ease;
    border-radius: 10px;
}
.inputBox input[type="submit"]:hover {
    color: #198754;
    background-color: #fff;
}
/* info */
.info {
    display: relative;
    background: #198754;
    height: fit-content;
}
.info h3 {
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p {
    color: #fff;
    font-size: 1.1em;
}
.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
/* map */
.map {
    display: relative;
    background: #c20000;
    padding: 0;
}
.map iframe {
    width: 100%;
    height: 100%;
}
/* reponsive design */
@media screen and (max-width: 991px) {
    .contactUs {
        padding: 10px;
    }
    .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .map {
        min-height: 300px;
        margin-bottom: 50px;
    }
    
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        width: 100%;
    }
}
@media screen and (max-width: 459px) {
    .contactUs {
        padding: 10px;
    }
    .box {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .form {
        width: 390px;
    }
    .map {
        min-height: 300px;
        width: 390px;
        margin-bottom: 50px;
    }
    .info {
        width: 390px;
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        width: 100%;
    }
}
/* contact us end */

/* resto start */
.restaurant {
    height: 100vh;
}
.restaurant img {
    width: 100%;
    height: 100vh;
  }
  
  .restaurant .right {
    padding: 50px 50px 50px 100px;
  }
  
  .restaurant h2 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
  }
  .restaurant h1 {
    margin-bottom: 20px;
    font-weight: 500;
    font-family:'Crimson Text', serif;
  }
  .restaurant h1::after {
    content: '';
    display: flex;
    width:200px;
    height: 3px;
    background: linear-gradient(to right, #36f436, #1bd3f3);
    position: relative;
    bottom: -10px;
    left: 32%;
    transform: translateX(-50% );
  }

  .restaurant .text p {
    margin-bottom: 40px;
    line-height: 25px;
  }
  
  .accordionItem {
    margin-top: 20px;
  }
  
  .accordionItem p {
    font-size: 15px;
    opacity: 0.8;
    font-family: sans-serif;
    line-height: 20px;
  }
  
  .accordionIHeading {
    cursor: pointer;
    width: 100%;
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    color: #b6933b;
    margin-bottom: 20px;
  }
  
  .close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;
    background-color: #fff;
  }
  
  .open .accordionItemContent {
    padding: 30px;
    background-color: #11633d;
    color: #dddddd;
    width: 100%;
    margin: 0 0 10px 0;
    display: block;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.6s ease;
    box-sizing: border-box;
    box-shadow: 0 13px 43px 0 rgb(37 46 89 / 10%);
    border-radius: 20px;
  }
  @media screen and (max-width:768px) {
    .restaurant {
        position: relative;
        margin-top: 0px;
    }
    .restaurant .container {
        flex-direction: column;
    }
    .restaurant img {
        height: 50vh;
    }
    .restaurant .right {
        padding: 10px 30px 10px 40px;
      }
    
  }
/* resto end */

/* testimonial start */
.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1 {
    font-size: 60px;
    position: relative;
    margin-bottom: 80px;
    font-family:'Crimson Text', serif;
}
.hero h1::after {
    content: '';
    width:250px;
    height: 3px;
    background: linear-gradient(to right, #36f436, #1bd3f3);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50% );
}
.review {
    width: 100%;
    max-width: 800px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, .25);
   position: relative;
   overflow: hidden;
}
.card-rw {
    height: 300px;
    padding: 40px;
    color: #2f2f2f;
    line-height: 22px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 1;
}
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}
.profile h3 {
    font-size: 26px;
    color: #00b33c;
    margin-bottom: 8px;
}
#slide {
    width:100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
}
.sidebar {
    width: 60px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: #00b33c;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebar img {
    width: 25px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.card-rw::before {
    content: '';
    width: 141px;
    height: 141px;
    border-bottom-right-radius: 100%;
    background: #00b33c;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
}
.rating {
    font-size: x-large;
    color: gold;
}
@media screen and (max-width:768px) {
    .testimonial {
        margin-bottom: 30px;
    }
    .hero {
        width: 100%;
        height: 100vh;
    }
    .rating {
        font-size: small;
    }
    .hero p{
        font-size: small;
        margin-top: -20px;
    }
    .profile p{
        margin-top: 1px;
    }
}
/* testimonial end */

/* blog start */
.news {
    position: relative;
  }
  .news h2 {
    font-size: 25px;
    font-family: fantasy;
    letter-spacing: 2px;
  }
  
  .news label {
    margin-top: -5px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .news .left {
    padding: 30px 0;
    width: 65%;
  }
  
  .news .right {
    width: 35%;
  }
  
  .news img {
    width: 100%;
  }
  
  .news .items p {
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .news .items img {
    width: 360px;
    height: 400px;
  }
  
  .news .box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    height: 200px;
  }
  
  .news .box:nth-child(1) {
    padding-top: 0;
  }
  
  .news .box:nth-last-child(1) {
    border-bottom: none;
  }
  
  .news .box img {
    width: 200px;
    height: 180px;
  }
  .news .box {
    width: 450px;
  }
  .news .stext {
    padding: 0;
  }
  .news a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #198754;
    color: #fff;
    border-radius: 10px;
    font-size: 300;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .news a:hover{
    transition: all .3s ease-out;
    color:#161616;
    background:#11633d ;
  }
.news h1 {
    font-size: 60px;
    position: relative;
    margin-bottom: 30px;
    font-family:'Crimson Text', serif;
}
.news h1::after {
    content: '';
    display: flex;
    width:260px;
    height: 3px;
    background: linear-gradient(to right, #36f436, #1bd3f3);
    position: relative;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50% );
}
  @media screen and (max-width:768px) {
    .news .content.flex {
      flex-direction: column;
    }
    .news .left {
      padding: 30px 0;
      width: 100%;
    }
    .news .right {
      width: 100%;
      padding: 20px 10px;
    }
    .news .right .box:nth-child(1) {
      height: 27vh;
      padding: 0;
    }
    .news .right .box:nth-child(2) {
      margin-top: 50px;
      height: 28vh
    }
    .news .right .box:nth-child(3) {
      margin-top: 50px;
    }
    .news .items img {
      width: 390px;
      height: 400px;
    }
    .news .box img {
      width: 200px;
      height: 120px;
    }
    .news .stext {
      width: 70%;
    }
    .news a {
      width: 100px;
      height: 30px;
      font-size: 10px;
      margin-bottom: 50px;
      margin-top: -10px;
    }
  }
/* blog & news end */

/* button to top start */
.toTop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: rgba(216, 216, 216, 0.1);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    border: #1d439e52;
    transition: 0.5s;
   }
   .toTop:hover {
    transform: scale(1.2);
   }
   .arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35%;
    margin-bottom: 60%;
    border-bottom: 15px solid white;
  }


/* button to top end */

/* footer start */
footer {
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    height: auto;
    width: 100vw;
    font-family:fantasy;
    padding-top: 20px;
    color: #f2f2f2;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: "pacifico", cursive;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    margin:0;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -36px;
}

.socials li {
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease-in-out;
}

.fa-youtube:hover{
    color: #c20000;
    
}
.fa-twitter:hover {
    color: rgb(58, 58, 255);
}
.fa-instagram:hover {
    color: #7232bd;
}
.fa-facebook:hover {
    color: rgb(58, 58, 255);
}
.fa-linkedin:hover {
    color: rgb(58, 58, 255);
}
.footer-bottom {
    background-color: #000;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: rgb(189, 189, 189);
}
.android-app{
    width: 150px;
}
.input {
    background-color: #212121;
    color: rgb(121, 121, 121);
    max-width: 190px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(198, 199, 178);
    margin-top: 1rem;

  }
  
  .input:focus {
    color: rgb(0, 255, 255);
    background-color: #212121;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }
  .button {
    display: flex;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
  }
  
  /* button styling */
  .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #37FF8B;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
/* footer end */





